.bg-contact{
    background: var(--body-blue);
}

.contact-title {
    font-size: 2.5rem;   
    color: var(--title);
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.pC {
    padding: 0 55px;
    justify-content: baseline;
    text-align: justify;
    padding-bottom: 5rem;
}
