.bg-contact{
    background: var(--body-blue);
}

.contact-title {
    font-size: 2.5rem;   
    color: var(--title);
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 3rem;
}

.pC {
    justify-content: baseline;
    text-align: justify;
    text-align: center;
    padding: 0 55px;
}

.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 3rem;
}

.social-c a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

    width:  200px;
    height: 55px;

    border: 2.5px ;
    border-radius: 30px;
    background: var(--primary-color);
    color: white;
    margin: 3px 9px;
    font-size: 19px;
    text-decoration: none;
    transition: 0.2s linear;
}

.social-c a:hover{
    scale: 1.03;
    color: #0D95C5;
    background-color: white;
    filter: drop-shadow(0 0 5px #0D95C5);
}

.pC-1 {
    justify-content: baseline;
    text-align: justify;
    text-align: center;
    padding-bottom: 13rem;
}