:root {
    --body-bg: #FFFFFF;
    --secondary-color: #90AB8B;
    --accent-color: #5A7863;
    --primary-color: #3B4953;
    --text-color: #2F3A42;
    --text-brown: #6D4300;
}



body {
    background: linear-gradient(to right, rgb(255,255,255), rgb(245,215,173));
    background-size: 120% 120%;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 55%;
    background: var(--primary-color);
    border-radius: 50px;
    transform: scale(0.9);
    text-align: center;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--body-bg);
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background: rgb(110, 95, 74);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover {
    color: var(--secondary-color);
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

.nav-link {
    color: var(--body-bg);
    text-decoration: none;

}

/* BAGIAN TEXT */

.content { 
    display: flex;

}

.text {
    margin-left: 150px;
    margin-top: 65px;
    width: 100%;
    padding-right: 40px;
}



/* Animation HALLO */

.animation span {
    position: relative;
    font-family: "Lato", sans-serif;
    display: inline-block;
    color: var(--text-brown);
    font-size: 3.2rem;
    text-shadow: 0 1px 0 #6F8D75,0 2px 0 #6F8D75, 0 3px 0 #6F8D75, 0 4px 0 #6F8D75, 0 5px 0 #6F8D75, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 10px 8px rgba(0,0,0,.25);
    animation: bounce 0.4s ease infinite alternate;
}

.animation span:nth-child(2) {
    animation-delay: 0.1s;
}

.animation span:nth-child(3) {
    animation-delay: 0.2s;
}

.animation span:nth-child(4) {
    animation-delay: 0.3s;
}

.animation span:nth-child(5) {
    animation-delay: 0.4s;
}

.animation span:nth-child(6) {
    animation-delay: 0.5s;
}

.animation span:nth-child(7) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    100% {
        text-shadow:  0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px transparent, 0 10px 10px rgba(0, 0, 0, 0.5);
    }
     from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

.name {
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 15px;
    margin-top: 0;
}

.name span {
    color: var(--text-brown);
    text-shadow: 0 0 5px rgb(109,67,0);
}

/* .name {          ANIMASI WARNA!!
    color: var(--primary-color);
    font-size: 50px;
    animation: fade 2.5s ease-in-out infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0.9;
        color: var(--text-brown);
    }
    
    50% {
        opacity: 1;
        color: var(--primary-color);
    }
} */

.isi .type-animasi {
    color: var(--primary-color);
    font-weight: 600;
    font-size: clamp(1rem,1rem + 5vw,2rem);
    margin-top: 0;
    margin-bottom: 20px;
}

.isi .type-animasi span {
    color: var(--text-brown);
    font-size: 2rem;
    text-shadow: 0 0 5px  rgb(109,67,0);
    position: relative;
    transition: 0.3s linear;
}

.type-animasi span::before {
    content: "Frontend Develover";
    animation: words 15s infinite;
}

.type-animasi span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s linear infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid rgb(#b74b4b);
    }
}

@keyframes words {
    0%, 33% {
        content: 'Frontend Developer';
    }
    34%, 66% {
        content: "UI/UX";
    }
    67%, 100% {
        content: "Design Graphic";
    }
}

.text p {
    font-size: 13px;
}


.prgf {
    display: flex;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-1 {
    display: flex;
    align-items: center; 
    gap: 8px;            
}

.text-1 p {
    margin: 0; 
}

.text-2 {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.text-2 p {
    margin: 0;
}

.about {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 35px;
}

.here-me {
    display: flex;
    align-items: center;      
    justify-content: center;       
    background: var(--primary-color);
    color: var(--primary-color);
    border-style: solid;
    border-radius: 10px;
    font-size: 14px;
    padding: 9px;
    padding-right: 13px;
}

.link-here {
    display: flex;
    align-items: center;      
    justify-content: center;       
    color: var(--body-bg);
}

.link-here svg {
    padding-right: 5px;
    text-decoration: none;
    color:var(--accent-color);
}

.download {
    display: flex;
    align-items: center;      
    justify-content: center;
    border-style: solid;
    border: 2.5px solid var(--text-brown);
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 15px;
    gap: 10px;
    
}

.link-cv {
    display: flex;
    align-items: center;
    color: var(--text-brown);
    text-decoration: none;
    font-size: 14px;
}

.link-cv svg {
    padding-right: 5px;
}

hr {
    background-color: var(--primary-color);
    color: var(--primary-color);
    padding-top: 2px;
}

.page-foto {
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 70px;
}