.bg-skills{
    background: var(--bg-bone);
    padding-bottom: 5rem;
}

.skills-title {
    font-size: 2.5rem;   
    color: var(--title);
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 3.5rem;
}

.card-skill {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.skill-1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background:
        radial-gradient(
            circle,
            #F8FAFD 40%,
            transparent 41%
        ),
        conic-gradient(
            #0D95C5 0 75%,
            #4F607A 75% 100%
            );
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-skill span {
    color: var(--title);
    font-size: 24px;
    font-weight: bold;
}

.skill-2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background:
        radial-gradient(
            circle,
            #F8FAFD 40%,
            transparent 41%
        ),
        conic-gradient(
            #0D95C5 0 75%,
            #4F607A 75% 100%
            );

    margin-left: 10rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background:
        radial-gradient(
            circle,
            #F8FAFD 40%,
            transparent 41%
        ),
        conic-gradient(
            #0D95C5 0 75%,
            #4F607A 75% 100%
            );

    margin-left: 10rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}