:root {
    --primary-color: #334552;
    --secondary-color:  #cfe1b9;
    --thirty-color: #3957ed;
    --body-bg: #e9f5db;
    --four-color: ;
}

body {
    background-color: var(--body-bg);
}
.navbar {
    width: 45%;
    background-color: var(--primary-color);
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 12px;
    border-radius: 12px;
}

.navbar-collapse {
    display: flex;
    align-items: center;      /* sejajar secara vertikal */
    justify-content: center;  /* text tetep di tengh */                
}

.nav-link {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.content { 
    display: flex;
    gap: 20px;
}

.text {
    margin-left: 150px;
    margin-top: 50px;
    color: var(--primary-color);
}

.text h1 {
    font-size: 50px;
    line-height: 1.4;
    margin-bottom: 0px;
    max-width: 50%;
}

.text h3 {
    font-size: 30px;

}

.foto-page {
    margin-top: 100px;
}
